<!DOCTYPE html>

<html ng-app="myApp">
  <head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="app.js"></script>
  </head>
  <body class="container">
    <div ng-controller="AppController">
      <div>
        <h1>登録フォーム</h1>
        <form ng-submit="submit()">
          <div class="form-group">
            <label for="username">ユーザー名</label>
            <input type="text" class="form-control" id="username" placeholder="twitterのユーザー名を入力" ng-model="username">
          </div>
          <button type="submit" class="btn btn-primary">登録</button>
        </form>
      </div>
      <hr>
      <div>
        <h1>ユーザー一覧</h1>
        <ul>
          <li style="padding:5px" ng-repeat="user in users">
            <div>
              <a href="https://{{user.url}}" target="_blank">{{user.username}}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
